<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="dhtmlxSuite/codebase/fonts/font_roboto/roboto.css">
    <link rel="stylesheet" type="text/css" href="dhtmlxSuite/codebase/dhtmlx.css">
    <link rel="stylesheet" type="text/css" href="css/login.css" >
    <script type="text/javascript" src="dhtmlxSuite/codebase/dhtmlx.js"></script>
    <script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/plugins/angular.min.js"></script>
    <script type="text/javascript" src="js/plugins/basePath.js"></script>
    <script type="text/javascript" src="js/custom/login.js"></script>
</head>


<body class="loginpage" ng-app="myApp" ng-controller="myCtrl">
    <div class="loginbox">
        <div class="loginboxinner">
            <div class="logo">
                <img src="imgs/smb04.png" style="width: 350px">
                <br>
                <h1 class="logo">ZhihuiSMB</h1>
            </div>
                <div class="username">
                    <div class="usernameinner">
                        <input type="text" id="phone" ng-model="user.name">
                    </div>
                </div>
                <div class="password">
                    <div class="passwordinner">
                        <input type="password" ng-model="user.password">
                    </div>
                </div>
                <button ng-click="to_login()">Sign in</button>
                <hr/>
                <button style="width: 100px; height: 40px;;margin: 0px 130px" ng-click="to_register()">Sign up</button>
            <p style="text-align: center;color:black">ALL RIGHT RESERVED @ZhihuiSMB<br>technical support@dahu</p>
        </div>
    </div>
</body>
</html>